<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
			<group
				id='all_pay'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='112'
				translate='label'
			>
				<label>歐付寶 O'Pay (allPay)</label>
				<dfExtension>Dfe_AllPay</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>啟用?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>

					<dfValidator>Dfe\AllPay\Validator\Currency</dfValidator>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Title</label>
					<comment><![CDATA[付款標題]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='test'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='3'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Test Mode?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[測試模式]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='testMerchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
				>
					<label>Test Merchant ID (商店代號)</label>
					<validate>required-entry validate-digits validate-length maximum-length-10</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testHashKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
				>
					<label>!測試 ALL IN ONE 介接 HashKey</label>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='testHashIV'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
				>
					<label>!測試 ALL IN ONE 介接 HashIV</label>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>1</field>
					</depends>
				</field>
				<field
					id='liveMerchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
				>
					<label>正式 Merchant ID (商店代號)</label>
					<comment></comment>
					<validate>required-entry validate-digits validate-length maximum-length-10</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveHashKey'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='8'
					translate='label'
					type='obscure'
				>
					<label>正式 ALL IN ONE 介接 HashKey</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1823' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='liveHashIV'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='9'
					translate='label'
					type='obscure'
				>
					<label>正式 ALL IN ONE 介接 HashIV</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<comment><![CDATA[<a href='https://mage2.pro/t/1824' target='_blank'>Where to find it?</a>]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='test'>0</field>
					</depends>
				</field>
				<field
					id='description'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='11'
					translate='label'
					type='textarea'
				>
					<label>敘述</label>
					<comment><![CDATA[在前台顯示的付款敘述，不可超過200字可能會造成成是當掉]]></comment>
					<comment model='Df\Payment\Comment\Description'/>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfRows='4'
					id='descriptionOnKiosk'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>超商付款時顯示在機子上的字</label>
					<comment><![CDATA[最多四行，每行最多20字(超過不知會出現甚麼問題)]]></comment>

					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfRows='4'
					id='messageFailure'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>失敗訊息</label>
					<comment><![CDATA[嘗試付款失敗後從ALL付款頁面返回商店時，將失敗消息顯示給客戶。 可在內容中使用以下參數<BR>: <table class='df-note'><tbody>
		<tr>
			<td>{originalMessage}</td>
			<td>顯示歐富寶回傳回來的錯誤訊息</td>
		</tr>
</tbody></table>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='identification'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
					type='select'
				>
					<label>付款訂單號類型</label>
					<source_model>Df\Payment\Source\Identification</source_model>
					<comment><![CDATA[
<p class='df-note'>該選項定義付款API中的<code>MerchantTradeNo</code></p>
<p class='df-note'>«<b>Visible ID(標準)</b>» 建議使用在OPAY後台比較好找<BR>«<b>Internal ID(非標準自定義)</b>»可以自訂訂單號</p>
<p class='df-note'>付款訂單號只可以使用的數字和英文，最多20字(如有設定ID開頭包含在20字限制內)</p>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='idPrefix'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
				>
					<label>付款ID開頭</label>
					<comment><![CDATA[如果OPay遇到已經用於其他付款的付款錯誤顯示，則它將失敗，並顯示以下消息：« 訂單編號重覆，建立失敗（100002） »，所以為了避免這種情況，您可以為付款ID
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='waitPeriodATM'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='text'
				>
					<label>ATM付款期限</label>
					<comment><![CDATA[天計算.]]></comment>
					<validate>validate-digits validate-digits-range digits-range-1-60</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='waitPeriodType'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='select'
				>
					<label>等待期類型</label>
					<source_model>Df\Config\Source\WaitPeriodType</source_model>
					<comment><![CDATA[可以設定假日與工作的兩種]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='optionsLocation'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='18'
					translate='label'
					type='select'
				>
					<label>要在哪裡付款?</label>
					<source_model>Df\Payment\Source\Options\Location</source_model>
					<comment><![CDATA[可以選擇在MAGENTO上或是轉跳到OPAY頁面上]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfRows='3'
					id='optionsDescription'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='19'
					translate='label'
					type='Df\Framework\Form\Element\Textarea'
				>
					<label>選項說明</label>
					<comment><![CDATA[在Magento結帳頁面上顯示文字而不是付款選項畫面
<br/>你可以使用:
<ul class='df-note'>
<li>基本HTML標籤</li>
<li>使用 <code>{options}</code> 參數，將被代替成可用付費選項</li>
<li>刪除所有內容將在前台隱藏</li>
</ul>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLocation'>psp</field>
					</depends>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='20'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>需要帳單地址?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Magento默認<b>勾選</b><br/><b>不勾選</b>, Magento將不要求帳單地址]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='optionsLimit'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='21'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>限制可用付款?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[只有選取的選項才會顯示給客戶使用(財付通付款功能OPAY關閉毫無用處]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfMultiselect_ordered='true'
					id='optionsAllowed'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='22'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>允許付款選項</label>
					<source_model>Dfe\AllPay\Source\Option</source_model>
					<comment><![CDATA[Only the selected options will be shown to the customers on the Magento checkout screen or on the allPay payment page (it depends on your choice for the «Where to ask for a payment option?» option above).<br/>You can <b>reorder</b> the options by drag and drop.]]></comment>
					<validate>required-entry</validate>
					<depends>
						<field id='enable'>1</field>
						<field id='optionsLimit'>1</field>
					</depends>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='23'
					translate='label'
					type='text'
				>
					<label>最小訂單數</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='24'
					translate='label'
					type='text'
				>
					<label>最大訂單數</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='25'
					translate='label'
					type='select'
				>
					<label>國家限制</label>
					<comment><![CDATA[有無/黑/白名單可以選擇]]></comment>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='26'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>國家</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>

						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[那些國家可以(不可以)使用該付款方式?]]></comment>
				</field>
				<field
					id='log'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='27'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>記錄API請求與API返回訊息?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[LOG將記錄在<b>var/log/opay</b>y xul4ru865j/ ，可以使用他們來DEBUG]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<group
					id='installment_sales'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='28'
					translate='label'
				>
					<label>分期付款</label>
					<field
						id='enable'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='1'
						translate='label'
						type='Df\Framework\Form\Element\Checkbox'
					>
						<label>啟用?</label>
						<backend_model>Df\Config\Backend\Checkbox</backend_model>
						<comment><![CDATA[]]></comment>
					</field>
					<field
						dfEntity='Dfe\AllPay\InstallmentSales\Plan\Entity'
						dfItemFormElement='Dfe\AllPay\InstallmentSales\Plan\FE'
						id='plans'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='Df\Framework\Form\Element\ArrayT'
					>
						<label>分期設定</label>
						<comment><![CDATA[第一個選單是分幾期，第二格收多少手續費，第三格收取多少固定月費]]></comment>
						<backend_model>Df\Config\Backend\ArrayT</backend_model>
						<depends><field id='enable'>1</field></depends>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>